{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form action="{{ path('delete') }}" method="post">
    <button type="button submit" class="btn btn-warning m-2" name="block">Block</button>
    <button type="button submit" class="btn btn-danger m-2" name="delete">Delete</button>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Is_active</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td><input type="checkbox" class="form-check-input" name="checkedUsers[]" value="{{ user.id }}"></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.ROLE }}</td>
                <td>{{ user.isactive }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}