
{% block content %}
    <h1>Teacher</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.patronymic) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.rank) }}
    {{ form_end(form) }}

{% endblock %}